*
  margin: 0
  padding: 0

body
  align-items: center
  background: #ccc
  display: flex
  font-family: sans-serif
  justify-content: center
  min-height: 100vh
  width: 100%

  ul
    display: flex

    li
      list-style: none
      margin: 0 5px

      a
        background: #fff
        box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5)
        display: block
        height: 80px
        padding-left: 20px
        text-align: left
        text-decoration: none
        transform: rotate(-30deg) skewX(25deg) translate(0, 0)
        transition: 0.5s
        width: 210px

        &:before
          background: #b1b1b1
          content: ''
          height: 100%
          left: -20px
          position: absolute
          top: 10px
          transform: rotate(0) skewY(-45deg)
          transition: 0.5s
          width: 20px

        &:after
          background: #999999
          bottom: -20px
          content: ''
          height: 20px
          left: -10px
          position: absolute
          transform: rotate(0) skewX(-45deg)
          transition: 0.5s
          width: 100%

        &:hover
          box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5)
          transform: rotate(-30deg) skew(25deg) translate(20px, -15px)

        .fa
          color: #333
          font-size: 40px
          line-height: 80px
          padding-right: 14px
          transition: 0.5s

        span
          color: #333
          letter-spacing: 4px
          position: absolute
          top: 30px
          transition: 0.5s
